.signup {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup__wrap {
  display: flex;
  width: 70%;
  height: 70%;
}

.signup__left,
.signup__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup__logo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}

.signup__desc {
  font-size: 24px;
}

.signup__box {
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup__inputs {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
  outline: none;
}

.signup__btn {
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.signup__forgot {
  text-align: center;
  color: #1775ee;
}

.login__back {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 50px;
  align-self: center;
  border-radius: 10px;
  border: none;
  background-color: #42b73a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
